body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cadre {
  display: flex;
  width: 100%;
  justify-content: center;
}

.plateau {
  border: 1px solid black;
  height: 480px;
  width: 480px;
  background: #eee;
  display: flex;
  flex-wrap: wrap;
}

.caseEchec {
  height: 60px;
  width: 60px;
}

.caseEchec.black {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.caseEchec.white {
  background: white;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.caseEchec.Selectionner {
  background: red;
}

/* piece */
.pionBlanc {
  height: 60px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url("../public/piece/pionBlanc.png");
}

.pionNoir {
  height: 60px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url("../public/piece/pionNoir.png");
}
.dameNoir {
  height: 60px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url("../public/piece/dameNoir.png");
}
.dameBlanc {
  height: 60px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url("../public/piece/dameBlanc.png");
}
.roiBlanc {
  height: 60px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url("../public/piece/roiBlanc.png");
}
.roiNoir {
  height: 60px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url("../public/piece/roiNoir.png");
}
.cavalierBlanc {
  height: 60px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url("../public/piece/cavalierBlanc.png");
}
.cavalierNoir {
  height: 60px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url("../public/piece/cavalierNoir.png");
}
.fouBlanc {
  height: 60px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url("../public/piece/fouBlanc.png");
}
.fouNoir {
  height: 60px;
  width: 60px;
  background-image: url("../public/piece/fouNoir.png");
  background-size: 100% 100%;
}
.tourBlanc {
  z-index: 9;
  height: 60px;
  width: 60px;
  background-image: url("../public/piece/tourBlanc.png");
  background-size: 100% 100%;
}
.tourNoir {
  height: 60px;
  width: 60px;
  background-image: url("../public/piece/tourNoir.png");
  background-size: 100% 100%;
}
